
# -indexes wont let users see the  contents of a directory with out a default file
Options -indexes

# If HTTP Status Code is matched send the user to error page
# Use single slash / for the root level of the website then path to file
ErrorDocument 404 /wet/final/_errors/404.html
ErrorDocument 403 /wet/final/_errors/403.html
